
.container{
	margin: 30px auto;
}



h2{
	margin-left: 10%;
    margin-top: 106px;
}


.inputBox {
    width: 100%;
    border-radius: 5px;
    border: 1px solid skyblue;
    box-sizing: border-box;
    margin-top: 70px;
    margin-bottom: 25px;
    padding: 24px;
}

.list{
	font-size: 18px;

}

.list li{
	padding: 12px 8px 12px 8px;
}

.list li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.list li:hover {
  background: #ddd;

}


.list{
	margin-left: 10%;
	margin-top: 25px;
}

.selected { 
	
	text-decoration: line-through;
	margin: 0;


}

li{
	list-style: none;
	cursor: pointer;



}

#add{
	background-color: skyblue;
	padding: 15px;
	font-weight: 700;
	border: none;
}

#add:hover{
	background-color: #33C3F0;
}

.remove{
	float: right;
	cursor: pointer;
	color: #33C3F0;
	font-weight: bold;
}

.remove:hover{
	color: red;
	

}